<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Egio_Reassurance::reassurance" title="reassurances" translate="title" module="Egio_Reassurance" sortOrder="30" resource="Egio_Reassurance::reassurance"/>
        <add id="Egio_Reassurance::reassurances" title="Tous les reassurances" translate="title" module="Egio_Reassurance" sortOrder="10" parent="Egio_Reassurance::reassurance" action="reassurance/Index/Index" resource="Egio_Reassurance::reassurance"/>
    </menu>
</config>